/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 27, 2019, 2:46:03 PM
    Author     : truon
*/



.bg-blue {
    -fx-background-color: #189EFF;
}
.bg-white {
    -fx-background-color: white;
}
.logo-haui {
    -fx-background-image: url(../img/logo-haui.jpg);
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.item-mainmenu:hover {
    -fx-background-color: rgba(51,51,51,0.2);
    -fx-cursor: hand;
    -fx-background-radius: 10px;
}

.text-field {
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-border-width: 2 2 2 0;
    -fx-border-color: #189eff;
}
.db-item-blue{
    -fx-background-color: #389af0;
    -fx-background-radius: 10px;
}
.db-item-green{
    -fx-background-color: #26c6da;
    -fx-background-radius: 10px;
}
.db-item-purple{
    -fx-background-color: #7460ee;
    -fx-background-radius: 10px;
}
.db-item-red{
    -fx-background-color: #fc4b6c;
    -fx-background-radius: 10px;
}

.chartSH .default-color0.chart-pie{
    -fx-pie-color: #FB9678;
}

.chartSH .default-color1.chart-pie{
    -fx-pie-color: #01C0C8;
}

.chart {
    -fx-clockwise: false;
    -fx-pie-label-visible: false;
}

.chartSH .chart-legend{
    -fx-border-color: #000;
}

.btn-back:hover {
    -fx-cursor: hand;
}

.btn-logout:hover {
    -fx-cursor: hand;
}

.user-info {
    -fx-border-color: #fff;
    -fx-border-width: 0 0 2px 0;
}

.item-menu:hover {
    -fx-background-color: rgba(51,51,51,0.2);
    -fx-cursor: hand;
}

.item-menu {
    -fx-background-color: #189EFF;
}

.item-menu-active {
    -fx-background-color: rgba(9,141,237,0.7);
    -fx-border-color: #fff;
    -fx-border-width: 0 0 0 3px;
}